.as-icon {
  display: flex;
  justify-content: space-evenly;
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
  margin: 4px;
  border-radius: 4px;
  align-items: center;

  &:hover {
    background-color: #cecece66;
  }
}

.as-icon-mini {
  display: flex;
  justify-content: space-evenly;
  padding: 6px;
  font-size: 0.8em;
  cursor: pointer;
  margin: 4px;
  border-radius: 4px;

  &:hover {
    background-color: #cecece66;
  }
}
